@model Car;

    <div class="container pt-5 text-center">
        <img class="photo" src="~/img/@Model.Img">
            <h5>@Model.Model</h5>
            <p>@Model.Make</p>
           <span>@Model.Year</span>
        
    </div>